h1 {
    padding-top: 25px;
    text-align : center;
}

h2 {
	padding-top: 25px;
}

#articles {
	text-indent: 1em;
	line-height: 1.4em;
	text-align: justify;
	tab-size: 8;
	margin: auto;
	width: 70%;
	color: black;
}

.article {
	border: 2px solid black;
	padding: 5%;
	margin-bottom: 15px;



}


#articles  h2 {
	padding-top:0;
	text-align: center;
}

#articles a {
    color: black;

}

#articles img {
    width: 65%;

}



#mapid {
	margin-bottom: 20px;
}

.paper_link {

    text-align: center;
    text-decoration: underline;
}

.place_name {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

}