h1 {
    padding-top: 25px;
    text-align : center;
}

h2 {
	padding-top: 25px;
}

.navbar-brand {
    color : white;
}
.navbar-brand:hover {
    color : grey;
}
.description {
    text-align: center;
    margin : 10%;
    margin-top : 2% ;
    margin-bottom : 2%;
}

#articles {
	text-indent: 1em;
	line-height: 1.4em;
	text-align: justify;
	tab-size: 8;
	margin: auto;
	width: 70%;
	color: black;
}

.article {

	padding: 5%;
	margin-bottom: 15px;
	background-color : #dddddd;
}


#articles  h2 {
	padding-top:0;
	text-align: center;
}

p > a {
    color: black;
    text-decoration: underline;
}

li > a {
    color: black;
    text-decoration: underline;
}


.paper a {
    color: black;
    text-decoration: underline;
}

#articles img {
    width: 65%;

}



#mapid {
	margin-bottom: 20px;
}

.paper_link {

    text-align: center;
    text-decoration: underline;
}

.place_name {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

}