{% extends "partials/container.html" %}
{%block head %}
<title>Index</title>
{%endblock%}
{% block body %}
<h1 style="text-align:center;">Index</h1>
<ul>
    <li><a href="{{url_for('get_authors')}}">List of all the authors for each papers</a></li>
    <li><a href="{{url_for('get_papers')}}">List of all the papers for each author</a></li>
    <li><a href="{{url_for('get_places')}}">List of all the authors for places cited in the papers</a></li>
    <li><a href="{{url_for('map_places')}}">Map of all the places cited in ISAW Papers with links to Pleiades</a></li>
    <li><a href="{{url_for('tfidf')}}">List of the most relevant words of each articles</a></li>

</ul>
{% endblock  %}